/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

* {
  font-family: 'Montserrat', sans-serif;
}
body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}
.inner {
  width: 1280px;
  margin: auto;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul,ol,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}